/* fons from google font  */
@import url("https://fonts.googleapis.com/css2?family=Hind+Siliguri:wght@400;500;600;700&family=Inter:wght@300;400;500;600;700&family=Roboto:wght@300;400;500;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* border: 1px solid blue; */
}

/* variable css  */
:root {
  /* Colors */
  --primary-color: #e2136e;
  --text-color: rgba(32, 32, 32, 0.55);
  --body-color: #fff0f7;

}

/* Global styles */
body {
  width: 100%;
  /* height: 100%; */
  color: var(--text-color);
  background: var(--body-color);
}

.button {
  background-color: transparent;
  border: 1px solid var(--primary-color);
  color: var(--primary-color);
  padding: 5px 20px;
  outline: none;
  width: 100%;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
  box-shadow: 0px 4px 4px -1px rgba(44, 44, 44, 0.25);
  border-radius: 23px;
  /* font style  */
  font-family: "Hind Siliguri";
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 32px;
  letter-spacing: 0.01em;
}

.button:hover {
  background-color: var(--primary-color);
  color: #ffffff;
}

