.form_control {
  margin-bottom: 10px;
  font-size: 9px;
}

.form_control input[type="checkbox"] {
  margin-right: 5px;
}


input[type="checkbox"] {
  cursor: pointer;

}

.rempass{
  font-family: 'Hind Siliguri';
font-style: normal;
font-weight: 500;
font-size: 12px;
line-height: 19px;
letter-spacing: 0.01em;

color: rgba(32, 32, 32, 0.55);
}

@media screen and (max-width: 320px) {
  .rempass{
    font-size: 9px;
  }
}