.form_group_checkbox {
  margin-bottom: 10px;
}

.form_group_checkbox input[type="checkbox"] {
  margin-right: 5px;
}


.input {
  cursor: pointer;
}

.rempass{
  font-family: 'Hind Siliguri';
font-style: normal;
font-weight: 500;
font-size: 12px;
line-height: 19px;
letter-spacing: 0.01em;

color: rgba(32, 32, 32, 0.55);
}

@media screen and (max-width: 320px) {
  .rempass{
    font-size: 9px;
  }
}