.form_group {
  margin-bottom: 30px;
}

.form-group input[type="checkbox"] {
  margin-right: 5px;
}

.form-group label {
  font-family: "Hind Siliguri";
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 19px;
  letter-spacing: 0.01em;

  color: rgba(32, 32, 32, 0.55);
}

.input {
  background: red;
  color: red;
  cursor: pointer;
}

.rempass{
  font-family: 'Hind Siliguri';
font-style: normal;
font-weight: 500;
font-size: 12px;
line-height: 19px;
letter-spacing: 0.01em;

color: rgba(32, 32, 32, 0.55);
}