* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.outer_form {
  width: 100%;
  background-color: var(--body-color);
  box-sizing: border-box;
  padding: 50px 40px;
}
.form_body {
  width: 100%;
  background: linear-gradient(
    157.43deg,
    rgba(255, 255, 255, 0.4) 3.24%,
    rgba(255, 255, 255, 0.1) 98.67%
  );
  backdrop-filter: blur(20px);
  /* Note: backdrop-filter has minimal browser support */

  border-radius: 31px; 
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 0 30px;
  outline: 1px solid rgb(0, 0, 0, .5);
}
